---
title:  ""
categories: personal
permalink: /about
custom_css: about
layout: default
---

<div id="about">
  {% include about/key_skills.html %}
  {% include about/work_experience.html %}
  {% include about/projects.html %}

  <div id="education">
    <h1>Education</h1>

    <div class="entry">
      <div class="header">
        <em>Politehnica University of Bucharest</em>
        <em>October 2007 - June 2011</em>
      </div>
      <p>Bachelor of Computer Science</p>
    </div>
  </div>

  <div id="personal">
    <h1>Personal</h1>

    <div class="entry">
      <div class="header">
        <em>Languages</em>
      </div>

      <ul>
        <li>Romanian - Native</li>
        <li>English - Proficient</li>
        <li>German - Beginner</li>
      </ul>
    </div>

    <div class="entry">
      <div class="header">
        <em>Hobbies</em>
      </div>

      <ul>
        <li>Music</li>
        <li>Playing guitar</li>
        <li>Snowboarding</li>
      </ul>
    </div>
  </div>
</div>
