<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Hi, I'm Adrian, fullstack Ruby on Rails engineer">
  <meta name=”robots” content="index, follow">
  <link rel="icon" type="image/svg+xml" href="favicon.svg">
  <link rel="icon" type="image/png" href="favicon.png">
  <title>Adrian Vasile - Software engineer</title>

  <link rel="stylesheet" href="/assets/css/syntax.css" type="text/css" />
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
  </style>
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
</head>
