---
---


#main {
  .h-entry {
    width: 100%;
  }
}

#about {
  @apply mx-4 md:mx-8;
  p {
    @apply text-font;
    text-indent: 1rem;
  }

}

#key-skills {
  ul {
    @apply list-none flex my-4;
    justify-content: center;
    flex-wrap: wrap;

    li {
      @apply p-1 md:p-2 mx-2 md:mx-4 md:mx-4 md:mx-4 my-2 text-ornament text-sm md:text-2xl border-ornament border-b-2;
    }
  }
}

.entry {
  @apply mb-8;

  .header {
    @apply border-ornament border-b-2 text-ornament text-base md:text-lg;
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
  }

  li {
    @apply text-font;
  }
}

ul.enumeration {
  @apply list-disc ml-8;

  li {
    @apply text-font;
    margin: 0;
  }
}
