---
---

$accent-1: #FF785A !default;
$accent-2: #967D69 !default;

#main {
  .h-entry {
    width: 100%;
  }
}

#about {
  p {
    text-indent: 1rem;
  }
}

#key-skills {
  ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    li {
      padding: 0 1rem;
      border: 1px solid $accent-2;
      border-radius: 1rem;
      margin: 0.2rem 0.2rem;
    }
;  }
}

.entry {
  .header {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.1rem solid $accent-2;
    margin: 0.5rem 0;

    p {
      margin: 0;
    }
  }
}

ul.enumeration {
  margin: 0;

  li {
    margin: 0;
  }
}

.text-accent {
  color: $accent-2;
}

