---
---


#main {
  .h-entry {
    width: 100%;
  }
}

#about {
  p {
    @apply text-font;
    text-indent: 1rem;
  }

  h1 {
    @apply text-3xl text-ornament uppercase;
  }
}

#key-skills {
  ul {
    @apply list-none flex my-4;
    justify-content: center;
    flex-wrap: wrap;

    li {
      @apply p-3 mx-4 my-2 text-ornament text-2xl border-ornament border-b-2;
    }
  }
}

.entry {
  .header {
    @apply border-ornament border-b-2 text-ornament;
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
  }

  li {
    @apply text-font;
  }
}

ul.enumeration {
  @apply list-disc ml-8;

  li {
    @apply text-font;
    margin: 0;
  }
}
