.article-list {
  @apply w-2/4 mx-auto;

  li {
    @apply my-6;

    p.title {
      @apply text-secondary text-2xl;
    }

    p.abstract {
      @apply text-neutral text-lg indent-4;
    }
  }
}

.blog-post {
  @apply text-neutral;

  h1, h2, h3, h4 {
    @apply text-secondary;
  }

  h1 {
    @apply text-4xl my-4;
  }

  h2 {
    @apply text-3xl my-2 pl-4;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  p {
    @apply indent-4 mb-4 text-lg mx-16;
  }

  figure {
    @apply py-4 px-2 md:p-6 md:my-8 mx-auto md:border-2 md:border-secondary rounded-lg;
    @apply w-full md:w-3/4;

    .lineno {
      @apply md:mr-4;
    }
  }

  code {
    @apply font-semibold align-middle text-secondary;
  }

  a {
    @apply text-neutral font-bold border-b-2 border-neutral;
  }

  a:hover {
    @apply text-secondary border-secondary;
  }

  ol {
    @apply list-decimal mx-16;
  }
}
