.header {
  @apply bg-primary border-secondary border-b-2;

  .top-bar {
    @apply bg-secondary h-4 lg:h-8 w-full;
  }

  .header-link {
    top: -3rem;
    left: 2rem;
  }

  .bottom-bar {
    @apply w-11/12 mx-auto h-12 lg:h-24 container flex justify-between items-center;
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      @apply text-center;
    }
  }

  .logo {
    @apply h-32 lg:h-48 w-auto mx-auto;
    @apply drop-shadow-2xl;
    transition: transform 0.3s ease-in-out;
  }

  .logo:hover {
    transform: translateY(1rem);
  }
}
