.header {
  .top-bar {
    @apply bg-secondary h-4 lg:h-8 w-full;
  }

  .bottom-bar {
    @apply bg-primary w-full h-12 lg:h-24 border-secondary border-b-2;
  }

  .content {
    @apply mx-auto h-full w-full  md:w-3/4 lg:w-3/4 px-4;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      @apply text-center;
    }
  }

  .logo {
    @apply h-32 lg:h-48 w-auto mx-auto;
    @apply drop-shadow-2xl;
  }
}
