.ornament-header {
  @apply my-10 h-5 md:h-8 md:gap-8;
  @apply flex items-center justify-between md:justify-center;

  .left {
    transform: scaleX(-1);
  }

  img {
    @apply w-24 md:w-48;
  }

  h1 {
    @apply text-base md:text-3xl text-secondary uppercase;
  }
}
