.page-content {
  @apply md:border-ornament h-full md:border-2 mx-auto mt-12 px-1 md:px-2 md:p-4 mb-4;
  @apply w-full md:w-10/12;
  @apply flex flex-col;
  justify-content: space-between;

  .top-ornaments, .bottom-ornaments {
    @apply flex flex-row;
    justify-content: space-between;

    img {
      @apply h-20 md:h-40;
    }
  }

  .ornament-left {
    transform: scaleX(-1);
  }

  .bottom-ornaments {
    transform: scaleY(-1);
  }
}

.home-menu {
  @apply h-full pt-4 w-5/6 md:w-4/6 mx-auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .menu-item {
    @apply bg-primary border-ornament border-2 p-4 md:p-8 mb-4 flex flex-col md:flex-row md:gap-8;
    align-items: center;
    justify-content: space-between;

    .menu-item-icon {
      @apply w-16 h-full my-auto;

      img {
        @apply h-full w-full;
      }
    }

    .menu-item-content {
      @apply text-ornament h-full;

      h3 {
        @apply text-lg md:text-2xl my-4 text-center md:text-left;
      }

      p {
        @apply text-base md:text-xl indent-4 md:indent-0;
      }
    }
  }
}
