.page-content {
  @apply mx-auto mt-16 mb-16;
  @apply flex flex-col justify-between;
  @apply container relative;
  @apply w-11/12 h-full;
  @apply border-secondary border-2; 

  .top-ornaments .ornament-title {
    @apply text-lg md:text-3xl lg:text-4xl text-secondary uppercase font-normal tracking-widest;
    @apply px-2 mt-4 md:mt-8 lg:mt-16;
    @apply text-center;
  }

  .top-ornaments, .bottom-ornaments {
    @apply flex flex-row p-2;
    justify-content: space-between;

    img {
      @apply h-12 md:h-40;
    }
  }

  .ornament-left {
    transform: scaleX(-1);
  }

  .bottom-ornaments {
    transform: scaleY(-1);
  }
}

.home-menu {
  @apply h-full pt-4 w-5/6 md:w-4/6 mx-auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  a {
    @apply w-full;
  }

  .menu-item {
    @apply bg-primary border-secondary border-2 p-4 md:p-8 mb-4 flex flex-col md:flex-row md:gap-8;
    @apply w-full md:w-11/12;
    @apply relative;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.3s ease-in-out;


    .menu-item-icon {
      @apply w-16 h-full my-auto;

      transition: transform 0.3s ease-in-out;
      transition-delay: 0.05s;
      img {
        @apply h-full w-full;
      }
    }

    .menu-item-content {
      @apply text-secondary h-full;
      transition: transform 0.3s ease-in-out;
      transition-delay: 0.05s;

      h3 {
        @apply text-lg md:text-2xl my-4 text-center md:text-left;
      }

      p {
        @apply text-base md:text-xl indent-4 md:indent-0;
      }
    }
  }

  .menu-item::after {
    position: absolute;
    content: '';
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: -1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 1rem 3rem rgba(0,0,0,0.5);
  }

  .menu-item:hover::after {
    opacity: 1;
  }

  .menu-item:hover {
    transform: scale(1.01, 1.01);
  }
}

.footer {
  @apply absolute;
  @apply bottom-0;
  @apply w-full;
  @apply bg-primary;
  @apply border-t-2 border-t-secondary;
  @apply text-neutral;
  @apply py-2;

  .footer-content {
    @apply h-full mx-auto w-11/12;
    @apply text-center;
  }

  a {
    @apply text-secondary underline;
  }
}

