<div id="work-experience">
  {% include shared/ornament_header.html title="Work Experience" %}

  {% for role in site.data.work_roles %}
    <div class="entry">
      <div class="header">
        <em>{{ role.name }}</em>
        <em class="text-accent">{{ role.start_date | date: "%B %Y" }} - {{ role.end_date | date: "%B %Y" }}</em>
      </div>
      <p>{{ role.description }}</p>
      <ul class="enumeration">
        {% for item in role.items %}
          <li>{{ item }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</div>
