<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="bg-secondary">

    <div class="w-full h-full bg-secondary">
      {%- include header.html -%}

      <div class="page-content" aria-label="Content">
        <div class="left-ornaments">
          <img class="ornament-top" src="/assets/svg/ornament.svg" alt="logo" />
          <img class="ornament-bottom" src="/assets/svg/ornament.svg" alt="logo" />
        </div>
        <div class="w-full mx-8">
          {{ content }}
        </div>
        <div class="right-ornaments">
          <img class="ornament-top" src="/assets/svg/ornament.svg" alt="logo" />
          <img class="ornament-bottom" src="/assets/svg/ornament.svg" alt="logo" />
        </div>
      </main>

      {%- include footer.html -%}
    </div>

  </body>
</html>
