<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="bg-secondary">

    <div class="w-full h-full">
      {%- include header.html -%}

      <div class="page-content bg-primary" aria-label="Content">
        <div class="top-ornaments">
          <img class="ornament-left" src="/assets/svg/ornament.svg" alt="logo" />
          <img class="ornament-right" src="/assets/svg/ornament.svg" alt="logo" />
        </div>
        <div class="container">
          {{ content }}
        </div>
        <div class="bottom-ornaments">
          <img class="ornament-left" src="/assets/svg/ornament.svg" alt="logo" />
          <img class="ornament-right" src="/assets/svg/ornament.svg" alt="logo" />
        </div>
      </main>
      </main>

      {%- include footer.html -%}
    </div>

  </body>
</html>
